@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Open+Sans&family=Space+Grotesk&display=swap');

body {
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    background-color:#c7d9c1;
}


.schoolLogos {
    height: 100px;
    width: auto;
    
}

ul {

    text-align: center;
    padding: 0;
}

ul li {
    list-style-type: none;
    font-size: 20px;
    color: #0e4800;
    font-family: 'Open Sans', sans-serif;

}

.educationTable {
    margin: 0 auto;
    color: #0e4800;
    font-family: 'Open Sans', sans-serif;

}

.educationTable td {
    padding: 0 30px 0 30px;
    width: 100px;
}

.educationTable tr {
    text-align: center;
}


p {

    color:#0e4800;
    font-family: 'Open Sans', sans-serif;

}

h1 {
    color:#91cf009b;
    font-family: 'Handjet', cursive;
}

h3 {
    color:#91cf009b;;
    font-family: 'Handjet', cursive;
}

.infoSection{
    display: flex;
}
.hobbiesSection{
    display: flex;

}

.educationSection{
    display: flex;
}

.infoText{
    text-align:right;
    padding: 5%;
}

.hobbiesText{
    text-align:left;
    padding: 5%;
}

.infoTitle{
    text-align:right;
    font-size: 60px;
}

.hobbiesTitle{
    text-align:left;
    font-size: 60px;
}

hr{

    border:single 9px;
    border-bottom: none;
    color:#0e4800;
    width: 9%;
    margin-top: 40px;
    margin-bottom: 40px;

}

.contactHypLink {

    font-family: 'Handjet', cursive;
}